*{
  margin :0;
  padding: 0;
  box-sizing: border-box
}
@import "variable";
@import "./admin/admin.scss";
@import "./navbar";
@import "./book";
@import "./home";
// @font-face {
//     font-family: 'Roboto', sans-serif;;
//     src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
//   }
//   *{
//     font-family: 'Roboto', sans-serif;
//   }
  *{
    font-family: 'Montserrat', sans-serif;
  }
  h2{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }

  .container{
    max-width: 1400ox;
    width: 80%;
    margin: 0 auto;
    a{
      text-decoration: none;
    }
  }
  .navbar{
    display: flex;
  }
  .d-flex{
    display: flex;
    align-items: center;
  }
  .text-active{
    color: $primary-color !important;

  }
  .btn{
    min-width: 70px;
        min-height: 30px;
        padding: 10px 15px;
        background-color: $secondary-color; 
        color: #fff;
        text-align: center;
        font-size: 14px;
        outline: none;
        border-radius: 2px;
        border-style: hidden;
        cursor: pointer;
        transition: linear 0.3s;
        &:hover{
            color: $bold-color;
            background-color: $primary-color;
        }
  }
  .btn-danger{
    background-color: #dc3545;
    &:hover{
      background-color: #b72834;
      color: #fff;
    }
  }
.out-navbar{
  margin-top: calc($navbar-height + 20px);
}