@import "variable";
.list-books{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px
}
.book-item{
    padding-bottom: 8px;
    cursor: pointer;
    .book-image{
        width: 100%;
        cursor: pointer;
    }
    .book-content{
        text-align: left;
        padding: 0px 8px;
        .book-name{
            font-weight: 500;
            font-size: 20px;
            color: $primary-color;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .book-price{
            margin-top: 12px;
            font-size: 16px;
            color: $bold-color;

        }
        .book-author{
            margin-top: 12px;
            color: $secondary-color;
        }
    }
    &:hover{
        box-shadow: 0 0 6px 0px $shadow-color;
    }
}